@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}

html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  background-color: rgb(20, 29, 47);
}

a {
  text-decoration: none;
  color: inherit;
}

.content{
  width: 100%;
  max-width: 1920px;
  height: 100%;
}

.general-btn {
  background-color: rgba(112, 230, 28, 1);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 23px;
  cursor: pointer;
}
