#about-me{
  margin-top: 100px;
}

#about-me-header {
  font-size: 90px;
  font-weight: 700;
  color: #fff;
  line-height: 120%;
}

#about-me-content-wrapper{
  display: flex;
  justify-content: center;
}

#about-me-left {
  max-width: 471px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#about-me-connection-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#about-me-container{
  padding: 100px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about-me-left{
  color: white;
}

.spacer-vertical {
  display: block;
  height: 1rem;
  width: 100%;
}

#about-me-right{
  max-width: 471px;
  max-height: 471px;
}

#about-me-right img{
  display: block;
  width: 100%;
}

.about-container-divs{
  display: flex;
  gap: 16px;
}
.about-me-div-size{
  min-width: 48px;
  min-height: 48px;
  text-align: center;
}


