#footer-container {
  height: 291px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
}

#footer-seperator {
  width: 100%;
  height: 0;
  border: none;
  border-top: 4px solid #70e61c;
}
footer {
  display: flex;
  justify-content: center;
  color: white;
}

footer span {
  color: white;
  font-size: 23px;
  line-height: 120%;
}

#footer-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#footer-nav{
  display: flex;
  gap: 42px;
}

#footer-nav a:hover img {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

#footer-legal-link{
  position: relative;
  display: inline-block;
}

#footer-legal-link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background: #70e61c;
  transition: width 0.2s ease;
}

#footer-legal-link:hover::after{
  width: 50%;
}