header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 37px 100px 37px 100px;
  color: rgba(255, 255, 255, 1);
}

#header-name {
  font-size: 35px;
  font-weight: 400;
}

#header-nav-language-position {
  display: flex;
  gap: 92px;
}

#header-nav {
  font-size: 23px;
  font-weight: 400;
  display: flex;
  gap: 29px;
}

#header-language {
  display: flex;
  gap: 14px;
}

#header-language button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgb(20, 29, 47);
}

#header-nav a:hover{
  color: rgba(112, 230, 28, 1);
}