#hero-header {
  margin-top: 188px;
}

#who-am-i {
  display: flex;
}

.iam {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  font-weight: 400;
  font-size: 90px;
  color: white;
  padding-left: 35px;
  margin-bottom: 10px;
  line-height: 120%;
}

.hero-name-job {
  display: flex;
  flex-direction: column;
  color: white;
}

#hero-name {
  font-size: 128px;
  font-weight: 700;
  margin: 0;
  line-height: 120%;
}

#hero-job {
  font-size: 64px;
  font-weight: 400;
  margin: 0;
  color: rgb(113, 93, 254);
  line-height: 120%;
}

#lets-talk-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 72px;
  margin-bottom: 96px;
}

#hero-seperator {
  width: 56px;
  height: 0;
  border-top: 3px solid rgb(112, 230, 28);
}

#hero-footer-wrapper {
  margin-bottom: 0;
  margin-left: 0;
}

#hero-footer {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

#hero-position-div {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}

#hero-social-links {
  display: flex;
  gap: 42px;
}

#scroll-down {
  writing-mode: vertical-lr;
  color: white;
  font-weight: 400;
  font-size: 23px;
  padding-right: 100px;
  cursor: pointer;
}

#hero {
  min-height: calc(100vh - 114px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero-flex-div {
  display: flex;
  justify-content: space-between;
}
