#hero-header {
  display: flex;
  justify-content: center;
  margin-top: 188px;
}

.iam {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  font-weight: 400;
  font-size: 90px;
  color: white;
  padding-left: 35px;
  margin-bottom: 10px;
  line-height: 120%;
}

.hero-name-job {
  display: flex;
  flex-direction: column;
  color: white;
}

#hero-name {
  font-size: 128px;
  font-weight: 700;
  margin: 0;
  line-height: 120%;
}

#hero-job {
  font-size: 64px;
  font-weight: 400;
  margin: 0;
  color: rgb(113, 93, 254);
  line-height: 120%;
}

#lets-talk-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

#hero-footer-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 216px;
}

#hero-seperator {
  width: 56px;
  height: 0;
  border-top: 3px solid rgb(112, 230, 28);
}

#hero-footer-wrapper {
  margin-bottom: 0;
  margin-left: 0;
}

#hero-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

#hero-social-links {
  display: flex;
  gap: 42px;
}

#scroll-down {
  writing-mode: vertical-lr;
  transform: rotate(360deg);
  color: white;
  font-weight: 400;
  font-size: 23px;
  z-index: 60;
  background: transparent;
}
