#portfolio {
    max-width: 1920px;
  width: 100%;
  overflow: hidden;
  gap: 0;
  position: relative;
  z-index: 10;
}

#portfolio-container {
  padding: 160px 100px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}

#portfolio-content {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}

#portfolio-head {
  color: white;
  font-size: 90px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

#portfolio-seperator {
  flex: 1 1 auto;
  height: 0;
  border: none;
  border-top: 4px solid rgba(28, 218, 230, 1);
  margin-left: 32px;
  align-self: center;
}
