#portfolio{
  scroll-margin-top: 114px;
}

#portfolio-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}



#portfolio-header-content {
  color: white;
  margin-bottom: 32px;
}

#portfolio-headline {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 40px;
}

#portfolio-seperator-div {
  width: 68px;
  height: 0;
  border: none;
  border-top: 4px solid #9747FF;
}

#portfolio-headline span {
  font-size: 90px;
  font-weight: 700;
  line-height: 120%;
}

#portfolio-description span {
  font-size: 18px;
  line-height: 120%;
  max-width: 473px;
  display: block;
  justify-content: end;

}

#portfolio-description {
  margin-left: calc(68px + 32px);
}

#portfolio-showcase{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0px 93px 0px 93px;
}

.box{
    border: 1px solid #70E61C;
    border-radius: 15px;
}

.box img{
    display: block;
    width: 100%;
}