#skills {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  z-index: 10;
}

#skills-container {
  padding: 160px 100px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  display: flex;
  gap: 116px;
}

#skills-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}

#skills-icons {
  width: 662px;
  height: 664px;
}

#skills-description {
  width: 492px;
  height: 560px;
  margin-right: 0px;
}

#skills-icons {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.skill-icons-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 16px;
  text-align: center;
}

.skill-rows {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 16px 8px 16px 8px;
}

#lerning-icon{
filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
;
}

#skills-description-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 16px;
}

#skills-head {
  width: 100%;
  font-size: 90px;
  font-weight: 700;
  color: #fff;
  line-height: 120%;
  margin-bottom: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#skills-seperator {
  width: 100%;
  height: 0;
  border: none;
  border-top: 4px solid rgba(28, 218, 230, 1);
}

#other-skills-need{
    font-size: 32px;
    font-weight: 700;
}

#other-skills-need span {
    color:rgba(151, 71, 255, 1);
}

#btn-div{
    margin-top: 40px;
}