#skills-container {
  padding: 160px 0px 160px 100px;
  display: flex;
  justify-content: space-between;
}

#skills-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

#skills-icons {
  width: 662px;
  height: 664px;
}

#skills-description {
  width: 492px;
  height: 560px;
}

#skills-icons {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.skill-icons-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 16px;
  text-align: center;
}

.skill-rows {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 16px 8px 16px 8px;
}

#lerning-icon{
filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
;
}

#skills-description-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 16px;
  padding-top: 75px;
}

#skills-head {
  width: 100%;
  font-size: 90px;
  font-weight: 700;
  color: #fff;
  line-height: 120%;
  margin-bottom: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#skills-seperator {
  width: 100%;
  height: 0;
  border: none;
  border-top: 4px solid rgba(28, 218, 230, 1);
  margin-left: 32px;
}

#other-skills-need{
    font-size: 32px;
    font-weight: 700;
}

#other-skills-need span {
    color:rgba(151, 71, 255, 1);
}

#btn-div{
    margin-top: 40px;
}

#other-skills-need p{
  margin: 40px 0px 16px 0px;
}

#highlight-description p{
  margin: 0;
  padding-right: 100px;
}

#skills-more-learnings p{
  margin: 0;
}

.hover-effect img:hover{
  transform: scale(1.05) translateY(-50%);
  transition: transform 0.3s ease;
}